{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{ banner.background }}')">{{ title }}</section>
<h2>{{ title }} disponíveis para adoção</h2>
{{/banner}}

<p>Cats</p>

{{>partials/footer}}