{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{ banner.background }}')">{{ title }}s</section>
<h2>{{ title }} disponíveis para adoção</h2>
{{/banner}}

<p>Dogs</p>

{{>partials/footer}}